-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: DepTutorias
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad`
--

DROP TABLE IF EXISTS `actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad` (
  `id_actividad` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) DEFAULT NULL,
  `estatus` int DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `semana` varchar(255) DEFAULT NULL,
  `id_pat_carrera` int DEFAULT NULL,
  `id_pat` int DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  PRIMARY KEY (`id_actividad`),
  KEY `FKgg828nuof5ms7xglihh3jdgew` (`id_pat_carrera`),
  KEY `FK1x7b5ebl298f40cca193qph1d` (`id_pat`),
  CONSTRAINT `FK1x7b5ebl298f40cca193qph1d` FOREIGN KEY (`id_pat`) REFERENCES `pat` (`id_pat`),
  CONSTRAINT `FKgg828nuof5ms7xglihh3jdgew` FOREIGN KEY (`id_pat_carrera`) REFERENCES `pat_carrera` (`id_pat_carrera`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `asignacion`
--

DROP TABLE IF EXISTS `asignacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignacion` (
  `id_asignacion` int NOT NULL AUTO_INCREMENT,
  `aula` varchar(255) DEFAULT NULL,
  `estatus` int DEFAULT NULL,
  `horario` varchar(255) DEFAULT NULL,
  `id_carrera` int DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  `id_usuario` int DEFAULT NULL,
  `id_tutor` int DEFAULT NULL,
  PRIMARY KEY (`id_asignacion`),
  KEY `FKljq6u4u2pmrv0ox9ek6w6r8jr` (`id_carrera`),
  KEY `FKkxa72o2x7h21ywvplo7o942se` (`id_semestre`),
  KEY `FKkkx2uhv5ah906m99xyyikr5oy` (`id_usuario`),
  KEY `FKt5dtnu0ew2ql9no61sm4owmmb` (`id_tutor`),
  CONSTRAINT `FKkkx2uhv5ah906m99xyyikr5oy` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `FKkxa72o2x7h21ywvplo7o942se` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id_semestre`),
  CONSTRAINT `FKljq6u4u2pmrv0ox9ek6w6r8jr` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id_carrera`),
  CONSTRAINT `FKt5dtnu0ew2ql9no61sm4owmmb` FOREIGN KEY (`id_tutor`) REFERENCES `tutor` (`id_tutor`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `asignacion_tutorado`
--

DROP TABLE IF EXISTS `asignacion_tutorado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignacion_tutorado` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_asignacion` int DEFAULT NULL,
  `id_tutorado` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKpqhcyod8b2bfbkcx3p6a5kqk2` (`id_asignacion`),
  KEY `FKqtterytcjqgur4u17488ge426` (`id_tutorado`),
  CONSTRAINT `FKpqhcyod8b2bfbkcx3p6a5kqk2` FOREIGN KEY (`id_asignacion`) REFERENCES `asignacion` (`id_asignacion`),
  CONSTRAINT `FKqtterytcjqgur4u17488ge426` FOREIGN KEY (`id_tutorado`) REFERENCES `tutorado` (`id_tutorado`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `asistencia`
--

DROP TABLE IF EXISTS `asistencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asistencia` (
  `id_asistencia` int NOT NULL AUTO_INCREMENT,
  `presente` int DEFAULT NULL,
  `id_sesion` int DEFAULT NULL,
  `id_tutorado` int DEFAULT NULL,
  PRIMARY KEY (`id_asistencia`),
  KEY `FKmmiv50ig1ogjcnmhiktag96fl` (`id_sesion`),
  KEY `FKk3ve1ek3tha160vve1qkwhi7j` (`id_tutorado`),
  CONSTRAINT `FKk3ve1ek3tha160vve1qkwhi7j` FOREIGN KEY (`id_tutorado`) REFERENCES `tutorado` (`id_tutorado`),
  CONSTRAINT `FKmmiv50ig1ogjcnmhiktag96fl` FOREIGN KEY (`id_sesion`) REFERENCES `sesion_tutoria` (`id_sesion`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `carrera`
--

DROP TABLE IF EXISTS `carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrera` (
  `id_carrera` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(255) DEFAULT NULL,
  `estatus` int DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_carrera`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `constancia`
--

DROP TABLE IF EXISTS `constancia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `constancia` (
  `id_constancia` int NOT NULL AUTO_INCREMENT,
  `fecha_emision` date DEFAULT NULL,
  `id_asignacion` int DEFAULT NULL,
  `id_tutorado` int DEFAULT NULL,
  PRIMARY KEY (`id_constancia`),
  KEY `FKi5b4tmuq9vvkfqy818r1ht3x4` (`id_asignacion`),
  KEY `FKmka9asrqxv8d4qf6vcjr2ubhc` (`id_tutorado`),
  CONSTRAINT `FKi5b4tmuq9vvkfqy818r1ht3x4` FOREIGN KEY (`id_asignacion`) REFERENCES `asignacion` (`id_asignacion`),
  CONSTRAINT `FKmka9asrqxv8d4qf6vcjr2ubhc` FOREIGN KEY (`id_tutorado`) REFERENCES `tutorado` (`id_tutorado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `coordinador_carrera`
--

DROP TABLE IF EXISTS `coordinador_carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coordinador_carrera` (
  `id_coordinador` int NOT NULL AUTO_INCREMENT,
  `id_carrera` int DEFAULT NULL,
  `id_usuario` int DEFAULT NULL,
  PRIMARY KEY (`id_coordinador`),
  KEY `FK5sv7dyr9kk4aqv29itqqi4jo2` (`id_carrera`),
  KEY `FKmdvaj7vc8wstvxo04ijvm0g5r` (`id_usuario`),
  CONSTRAINT `FK5sv7dyr9kk4aqv29itqqi4jo2` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id_carrera`),
  CONSTRAINT `FKmdvaj7vc8wstvxo04ijvm0g5r` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `jefe_academico`
--

DROP TABLE IF EXISTS `jefe_academico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jefe_academico` (
  `id_jefe` int NOT NULL AUTO_INCREMENT,
  `id_carrera` int DEFAULT NULL,
  `id_usuario` int DEFAULT NULL,
  PRIMARY KEY (`id_jefe`),
  KEY `FKddyrscnyaibh454a2jujx8vwt` (`id_carrera`),
  KEY `FKkwqfa72a1u2rqh58mx1c1nalo` (`id_usuario`),
  CONSTRAINT `FKddyrscnyaibh454a2jujx8vwt` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id_carrera`),
  CONSTRAINT `FKkwqfa72a1u2rqh58mx1c1nalo` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `necesidad`
--

DROP TABLE IF EXISTS `necesidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `necesidad` (
  `id_necesidad` int NOT NULL AUTO_INCREMENT,
  `descripcion` text,
  `id_asignacion` int DEFAULT NULL,
  PRIMARY KEY (`id_necesidad`),
  KEY `FKo54asvvhmfnirr9qy63hvhyly` (`id_asignacion`),
  CONSTRAINT `FKo54asvvhmfnirr9qy63hvhyly` FOREIGN KEY (`id_asignacion`) REFERENCES `asignacion` (`id_asignacion`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pat`
--

DROP TABLE IF EXISTS `pat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pat` (
  `id_pat` int NOT NULL AUTO_INCREMENT,
  `descripcion` text,
  `estatus` int DEFAULT NULL,
  `titulo` varchar(255) DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  PRIMARY KEY (`id_pat`),
  KEY `FK5xajyn5ghoax6n5lsl0yqk1u0` (`id_semestre`),
  CONSTRAINT `FK5xajyn5ghoax6n5lsl0yqk1u0` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id_semestre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pat_carrera`
--

DROP TABLE IF EXISTS `pat_carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pat_carrera` (
  `id_pat_carrera` int NOT NULL AUTO_INCREMENT,
  `estatus` int DEFAULT NULL,
  `id_carrera` int DEFAULT NULL,
  `id_pat_general` int DEFAULT NULL,
  `id_semestre` int DEFAULT NULL,
  PRIMARY KEY (`id_pat_carrera`),
  KEY `FKeh2f4curs8m7xtx7c6fb97xci` (`id_carrera`),
  KEY `FKse9sipfb6w3ht2tc14rh4tc79` (`id_pat_general`),
  KEY `FK15ws9f66nn66qeeuk00lyqmn` (`id_semestre`),
  CONSTRAINT `FK15ws9f66nn66qeeuk00lyqmn` FOREIGN KEY (`id_semestre`) REFERENCES `semestre` (`id_semestre`),
  CONSTRAINT `FKeh2f4curs8m7xtx7c6fb97xci` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id_carrera`),
  CONSTRAINT `FKse9sipfb6w3ht2tc14rh4tc79` FOREIGN KEY (`id_pat_general`) REFERENCES `pat` (`id_pat`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reporte_tutor`
--

DROP TABLE IF EXISTS `reporte_tutor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reporte_tutor` (
  `id_reporte` int NOT NULL AUTO_INCREMENT,
  `fecha_reporte` date DEFAULT NULL,
  `observaciones` text,
  `id_sesion` int DEFAULT NULL,
  PRIMARY KEY (`id_reporte`),
  KEY `FK31k5hr83296vkqxju9dnwviob` (`id_sesion`),
  CONSTRAINT `FK31k5hr83296vkqxju9dnwviob` FOREIGN KEY (`id_sesion`) REFERENCES `sesion_tutoria` (`id_sesion`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol` (
  `id_rol` int NOT NULL AUTO_INCREMENT,
  `descripcion` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `semestre`
--

DROP TABLE IF EXISTS `semestre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semestre` (
  `id_semestre` int NOT NULL AUTO_INCREMENT,
  `activo` int DEFAULT NULL,
  `fecha_fin` datetime(6) DEFAULT NULL,
  `fecha_inicio` datetime(6) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_semestre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sesion_tutoria`
--

DROP TABLE IF EXISTS `sesion_tutoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesion_tutoria` (
  `id_sesion` int NOT NULL AUTO_INCREMENT,
  `fecha` date DEFAULT NULL,
  `semana` int DEFAULT NULL,
  `id_asignacion` int DEFAULT NULL,
  `id_actividad` int DEFAULT NULL,
  PRIMARY KEY (`id_sesion`),
  KEY `FKay877bbchgqmdajr9hxc9d2le` (`id_asignacion`),
  KEY `FKb77xxiq15v9y4x8d4thmhwygj` (`id_actividad`),
  CONSTRAINT `FKay877bbchgqmdajr9hxc9d2le` FOREIGN KEY (`id_asignacion`) REFERENCES `asignacion` (`id_asignacion`),
  CONSTRAINT `FKb77xxiq15v9y4x8d4thmhwygj` FOREIGN KEY (`id_actividad`) REFERENCES `actividad` (`id_actividad`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tutor`
--

DROP TABLE IF EXISTS `tutor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tutor` (
  `id_tutor` int NOT NULL AUTO_INCREMENT,
  `apellido` varchar(255) DEFAULT NULL,
  `correo` varchar(255) DEFAULT NULL,
  `estatus` int DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `numero_empleado` varchar(255) DEFAULT NULL,
  `id_carrera` int DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `numero_trabajador` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_tutor`),
  UNIQUE KEY `UKcachw0iie8hoave63c5xxgd3b` (`numero_trabajador`),
  UNIQUE KEY `UKgce7e52js8a17df6nyrdo31ct` (`username`),
  KEY `FKglotqtx6xbxvb8h4iv5il15a` (`id_carrera`),
  CONSTRAINT `FKglotqtx6xbxvb8h4iv5il15a` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id_carrera`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tutorado`
--

DROP TABLE IF EXISTS `tutorado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tutorado` (
  `id_tutorado` int NOT NULL AUTO_INCREMENT,
  `apellido` varchar(255) DEFAULT NULL,
  `correo` varchar(255) DEFAULT NULL,
  `estatus` int DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `numero_control` varchar(255) DEFAULT NULL,
  `id_carrera` int DEFAULT NULL,
  PRIMARY KEY (`id_tutorado`),
  KEY `FK2d9epa1iw4kr1t1mw3bnqp06a` (`id_carrera`),
  CONSTRAINT `FK2d9epa1iw4kr1t1mw3bnqp06a` FOREIGN KEY (`id_carrera`) REFERENCES `carrera` (`id_carrera`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `apellido` varchar(255) DEFAULT NULL,
  `estatus` int DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `id_rol` int DEFAULT NULL,
  `numero_trabajador` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `UKrse64ku98ct76y8906ixq03e9` (`numero_trabajador`),
  UNIQUE KEY `UK863n1y3x0jalatoir4325ehal` (`username`),
  KEY `FKmyv3138vvci6kaq3y5kt4cntu` (`id_rol`),
  CONSTRAINT `FKmyv3138vvci6kaq3y5kt4cntu` FOREIGN KEY (`id_rol`) REFERENCES `rol` (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-22 20:57:13
